## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
from pathlib import Path
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [24]:
city_data_df = pd.read_csv(Path("../weather_database/WeatherPY_Database.csv"))
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Torbay,47.6666,-52.7314,45.39,scattered clouds,64,40,25.32,CA
1,1,Mehamn,71.0357,27.8492,37.33,overcast clouds,89,100,29.53,NO
2,2,Yellowknife,62.4560,-114.3525,14.52,broken clouds,48,75,9.22,CA
3,3,Ahipara,-35.1667,173.1667,68.00,overcast clouds,69,100,17.34,NZ
4,4,Oktyabrskoye,43.0645,44.7417,32.14,clear sky,100,0,8.95,RU

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
8,8,Suleja,9.1758,7.1808,81.59,light rain,73,95,2.17,NG
9,9,Puerto Ayora,-0.7393,-90.3518,75.40,broken clouds,91,79,5.32,EC
11,11,Hobart,-42.8794,147.3294,76.23,clear sky,61,0,14.97,AU
13,13,Bengkulu,-3.8004,102.2655,83.46,overcast clouds,70,89,2.75,ID
19,19,Samarai,-10.6167,150.6667,83.66,overcast clouds,73,99,7.00,PG
26,26,Mareeba,-17.0000,145.4333,80.44,overcast clouds,69,100,7.00,AU
30,30,Mogadishu,2.0371,45.3438,82.47,overcast clouds,79,100,10.78,SO
38,38,Pak Phanang,8.3511,100.2020,84.22,overcast clouds,71,100,4.05,TH
42,42,Rikitea,-23.1203,-134.9692,78.82,scattered clouds,68,32,12.93,PF
47,47,Ouallam,14.3188,2.0866,82.63,overcast clouds,9,92,10.04,NE

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                194
City                   194
Lat                    194
Lng                    194
Max Temp               194
Current Description    194
Humidity               194
Cloudiness             194
Wind Speed             194
Country                194
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
8,8,Suleja,9.1758,7.1808,81.59,light rain,73,95,2.17,NG
9,9,Puerto Ayora,-0.7393,-90.3518,75.40,broken clouds,91,79,5.32,EC
11,11,Hobart,-42.8794,147.3294,76.23,clear sky,61,0,14.97,AU
13,13,Bengkulu,-3.8004,102.2655,83.46,overcast clouds,70,89,2.75,ID
19,19,Samarai,-10.6167,150.6667,83.66,overcast clouds,73,99,7.00,PG
26,26,Mareeba,-17.0000,145.4333,80.44,overcast clouds,69,100,7.00,AU
30,30,Mogadishu,2.0371,45.3438,82.47,overcast clouds,79,100,10.78,SO
38,38,Pak Phanang,8.3511,100.2020,84.22,overcast clouds,71,100,4.05,TH
42,42,Rikitea,-23.1203,-134.9692,78.82,scattered clouds,68,32,12.93,PF
47,47,Ouallam,14.3188,2.0866,82.63,overcast clouds,9,92,10.04,NE

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Suleja,NG,81.59,light rain,9.1758,7.1808,
9,Puerto Ayora,EC,75.40,broken clouds,-0.7393,-90.3518,
11,Hobart,AU,76.23,clear sky,-42.8794,147.3294,
13,Bengkulu,ID,83.46,overcast clouds,-3.8004,102.2655,
19,Samarai,PG,83.66,overcast clouds,-10.6167,150.6667,
26,Mareeba,AU,80.44,overcast clouds,-17.0000,145.4333,
30,Mogadishu,SO,82.47,overcast clouds,2.0371,45.3438,
38,Pak Phanang,TH,84.22,overcast clouds,8.3511,100.2020,
42,Rikitea,PF,78.82,scattered clouds,-23.1203,-134.9692,
47,Ouallam,NE,82.63,overcast clouds,14.3188,2.0866,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# 6b. Iterate through the hotel DataFrame.

# 6c. Get latitude and longitude from DataFrame
    # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

# 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# 6e. Make request and retrieve the JSON data from the search.  
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Suleja,NG,81.59,light rain,9.1758,7.1808,Capy Motel
9,Puerto Ayora,EC,75.40,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Hobart,AU,76.23,clear sky,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
13,Bengkulu,ID,83.46,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
19,Samarai,PG,83.66,overcast clouds,-10.6167,150.6667,Nuli Sapi
26,Mareeba,AU,80.44,overcast clouds,-17.0000,145.4333,Trinity Plains Tourist Park
30,Mogadishu,SO,82.47,overcast clouds,2.0371,45.3438,Hotel Juba
38,Pak Phanang,TH,84.22,overcast clouds,8.3511,100.2020,Green Park Inn Hotel
42,Rikitea,PF,78.82,scattered clouds,-23.1203,-134.9692,People ThankYou
47,Ouallam,NE,82.63,overcast clouds,14.3188,2.0866,

In [37]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   194
Country                194
Max Temp               194
Current Description    194
Lat                    194
Lng                    194
Hotel Name             194
dtype: int64

In [46]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 8 to 675
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 194 non-null    object
 1   Country              194 non-null    object
 2   Max Temp             194 non-null    float64
 3   Current Description  194 non-null    object
 4   Lat                  194 non-null    float64
 5   Lng                  194 non-null    float64
 6   Hotel Name           194 non-null    object
dtypes: float64(3), object(4)
memory usage: 16.2+ KB

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "../vacation_search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [55]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
hotels = hotel_df["Hotel Name"]
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))